
Bachelorproeftekst/bachelorproeftekst\.aux

Bachelorproeftekst/bachelorproeftekst\.log

Bachelorproeftekst/bachelorproeftekst\.out

Bachelorproeftekst/bachelorproeftekst\.synctex\.gz

Bachelorproeftekst/bachelorproeftekst\.toc

Bachelorproeftekst/Fotos/UHasselt-standaard\.png

*.docx

Verslagen meetings/~WRL0005\.tmp

App/venv/

App/\.idea/

App/__pycache__/

App/Midi/**/*.mid


App/GeneticAlgorithm/__pycache__/

*.pyc



App/Graphs/

Bachelorproeftekst/bachelorproeftekst\.synctex\(busy\)
